@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-height {
  height: calc(100vh - 70px);
}

.gradient-text {
  background-image: linear-gradient(to right, #9259F7, #2EBAE7,  #6964DE, #FCA6E9, #F4426C 50%, #D24074); /* Adjust colors as needed */
  -webkit-background-clip: text; /* For Webkit browsers */
  background-clip: text; /* Standard background-clip property */
  color: transparent; /* Transparent text allows background to show through */
}

.fancy-border {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #9259F7, #2EBAE7,  #6964DE, #FCA6E9, #F4426C 50%, #D24074);
  border: 1px solid transparent;
  padding: 1rem !important;
}

.button-bg {
  background-image: linear-gradient(to right, #9259F7, #2EBAE7);
}

.contact-bg{
  background-image: linear-gradient(to right, #9259F7, #2EBAE7, #6964DE, #FCA6E9, #D24074,  #F4426C 50%);
  -webkit-background-clip: text; /* For Webkit browsers */
  background-clip: text; /* Standard background-clip property */
  color: transparent; /* Transparent text allows background to show through */
}

.side-bar{
  transition: filter 0.3s ease-in-out; 
}

@layer utilities {
  .animate-marquee {
    animation: marquee 25s linear infinite;
      will-change: transform;
  }
  
  .animate-marquee-reverse {
    animation: marquee-reverse 25s linear infinite;
  }
  
  .animate-pause {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animate-marquee {
  will-change: transform;
}
}